p{
    background-color: rgb(89, 199, 162);
}
h1{
    text-align: center;
    color: blue;
}
.one{
    text-align: center;
    color: rgb(161, 20, 27);
}
.sassy{
    background-color: rgb(207, 207, 171);
}
.classy{
    background-color: cadetblue;
}
h3{
    color: rgb(23, 23, 102);
}